<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Przyrost szczepień w Polsce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/regression@2.0.1/dist/regression.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="navbar-brand" href="#">Ostatnie:</a>
                        <li class="nav-item">
                            <a class="btn btn-outline-success me-2" type="button" href="?ld=7">7
                                dni</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success me-2" type="button" href="?ld=14">14
                                dni</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success me-2" type="button" href=".">wszystkie
                                dni</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <span class="navbar-text">Od rozpoczęcia szczepień upłynęło: <span
                                id="daysFromStart"></span> dni</span>

                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col">Wytyczne:</div>
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item">W Polsce mieszka 38 milionów ludzi do
                        zaszczepienia
                    </li>
                    <li class="list-group-item">Zaszczepić trzeba 70% społeczeństwa - tj. ok 27 mln
                        osób
                    </li>
                    <li class="list-group-item">Każdy szczepiony przyjmuje dwie dawki</li>
                    <li class="list-group-item">Model bazuje na danych historycznych</li>
                    <li class="list-group-item">Zakładam, że nie będzie problemów z dostępnością
                        szczepionek i
                        szczepiących
                    </li>
                </ul>
            </div>
            <div class="col"></div>
        </div>

        <br/>

        <div class="row">
            <div class="col"></div>
            <div class="col-12">
                <canvas id="line-chart"></canvas>
            </div>
            <div class="col">
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col"></div>
            <div class="col-12">
                <p>Regresja liniowa: ilość osób zaszczepionych w ciągu 100 dni od rozpoczęcia
                    szczepień
                    (w mln):
                    <span class="btn btn-info" id="linear100"></span></p>
                <p>Regresja liniowa: ilość osób zaszczepionych w ciągu 180 dni od rozpoczęcia
                    szczepień
                    (w mln):
                    <span class="btn btn-info" id="linear180"></span></p>
                <p>Funkcja <span id="linearFuncEq"></span></p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>

<div id="divCheckbox" style="display: none;">{{ vaccines }}</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
            <span class="text-muted">&copy; 2021 -
                <a href="https://scvconsultants.com/">SCV Consultants</a>;
                <a href="https://github.com/misiekofski/coronascv">github repo</a></span>;
        <a href="https://www.gov.pl/web/szczepimysie/raport-szczepien-przeciwko-covid-19">źródło
            danych</a>
    </div>
</footer>

</div>
<script>
    myData =
    {{values}}.map((v, i) => [i, v]);
    const linearRegression = regression.linear(myData);
    const linearRegressionValues = linearRegression.points.map(([x, y]) => {
        return y;
    });

    document.getElementById("daysFromStart").innerText = "{{days_from_start}}";
    document.getElementById("linear100").innerText = (linearRegression.predict(100 -{{ add_days }})[1] / 2000).toFixed(2);
    document.getElementById("linear180").innerText = (linearRegression.predict(180 -{{ add_days }})[1] / 2000).toFixed(2);
    document.getElementById("linearFuncEq").innerText = linearRegression.string;

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{ labels|safe }},
            datasets: [
                {
                    data: {{ values }},
                    label: "Szczepionki podane w Polsce (w tyś)",
                    borderColor: "#3e95cd",
                    fill: false,
                    showLine: false
                },
                {
                    data: linearRegressionValues,
                    label: "Regresja liniowa",
                    borderColor: "#53cd3e",
                    fill: false,
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Model predykcyjny zaszczepienia 70% populacji Polski'
            }
        }
    });

</script>
</body>
</html>